.row
  .panel.panel-default.panel-table
    .panel-heading
      .row
        .col
          %h3.panel-title.text-center Devices
    .panel-body
      = simple_form_for :search, url: devices_path, method: "GET", html: { class: 'form-inline' } do |f|
        = f.input :serial, id: "serial", label: false, required: false, input_html:{ value: params[:search][:serial] }
        = f.submit "Search", class: "btn btn-primary"
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Serial Number
            %th Firmware Version
        %tbody
          - @devices.each do |device|
            %tr
              %td.col-md-6= link_to device.serial_number, device_path(device.id)
              %td.col-md-6= device.firmware_version
